/*
  General classes
*/
body {
  font-family: 'Orbitron', sans-serif;
}
div {
  background-color: cyan;
  border: 1px solid black;
}
button {
  padding: 10px;
  margin: 10px auto;
}

/*
  Classes for headings, instead of <h1>, <h2>, <h...> tags
*/
.h1 {
  font-size: x-large;
  text-align: center;
  padding-top: 10px;  
}
/*
  Flash animation for cell on board
*/
.flash {
  animation: blink 0.5s infinite both;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/*
  Highlight div cell on mouse hover
*/
.title:hover {
  background-color: greenyellow;
}
/*
  Highlight ship type on stats panel when selected
*/
.selected {
  background-color: blue;
  color: white;
}
/* 
  Classes for screen layout  
*/
.container-grid {
  display: grid;
  grid-template-columns: 520px 50px 150px 50px 520px; 
  grid-template-rows: 60px 50px 520px 70px;
}
.title {
  font-size: xx-large;
  text-align: center;
  padding-top: 10px;
  grid-column: 1 / 6;
}
.board {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 5px;
}
.stats {
  font-size: large;
  text-align: center;
  line-height: 50px;
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: repeat(5, 50px);
  margin: 5px 0;
}
.footer {
  grid-column: 1 / 6;
}

